{% load staticfiles %}
<div class="banner">
      <div id="slide-holder" data-ad="{{ ad_list_ }}">

        <div id="slide-runner">
            {% for ad in ad_list %}
                <a href="{{ ad.callback_url }}" target="_blank"><img id="slide-img-{{ ad.id }}" src="uploads/{{ ad.image_url }}"  alt="" /></a>
            {% endfor %}
          <div id="slide-controls">
            <p id="slide-client" class="text"><strong></strong><span></span></p>
            <p id="slide-desc" class="text"></p>
            <p id="slide-nav"></p>
          </div>
        </div>
      </div>
      <script>
          var ad_list_ = eval($('#slide-holder').attr('data-ad'));
            if(!window.slider) {
            var slider={};
          }
          slider.data = [{
             "id" :"slide-img-" + JSON.parse(ad_list_[0]).id,
              "client":JSON.parse(ad_list_[0]).title,
              "desc":JSON.parse(ad_list_[0]).description
          },
                  {
             "id" :"slide-img-" + JSON.parse(ad_list_[1]).id,
              "client":JSON.parse(ad_list_[1]).title,
              "desc":JSON.parse(ad_list_[1]).description
          },
                  {
             "id" :"slide-img-" + JSON.parse(ad_list_[2]).id,
              "client":JSON.parse(ad_list_[2]).title,
              "desc":JSON.parse(ad_list_[2]).description
          },
                  {
             "id" :"slide-img-" + JSON.parse(ad_list_[3]).id,
              "client":JSON.parse(ad_list_[3]).title,
              "desc":JSON.parse(ad_list_[3]).description
          }
          ];
    </script>
</div>
    <!-- banner代码 结束 -->