{% extends 'blog_base.html' %}
{% block blog_left_content %}
<div class="main_content">
    <div class="block_breadcrumbs">
        <div class="text"><p>You are here:</p></div>

        <ul>
            <li><a href="">Home</a></li>
            <li>{{ article.title }}</li>
        </ul>
    </div>
    <div class="separator" style="height:30px;"></div>

    <article class="block_single_post">
      <p class="title">{{ article.title }}</p>
        <p class="subtitle">{{ article.desc }}</p>

        <div class="info">
            <div class="date"><p>{{ article.date_publish | date:'d-M-y' }}</p></div>
            <div class="author"><p>By: <a href="#">{{ article.user }}</a></p></div>

            <div class="r_part">
                <div class="category"><p>category: <a href="{% url 'category' %}?category={{ article.category_id }}">{{ article.category }}</a></p></div>
                <a href="#" class="views">{{ article.click_count }}</a>
                <a href="#" class="comments">{{ article.comment_set.all.count }}</a>
            </div>
        </div>

        <div class="content">
            <p>{{ article.content | safe }}</p>
        </div>

        <div class="line_3" style="margin:4px 0px 23px;"></div>

    </article>

    <div class="block_post_tags">
        <p>Tags:
            {% for tag in article.tag.all %}
            <a href="{% url 'tag' %}?tag={{ tag.id }}" rel="tag">{{ tag.name }}&nbsp;&nbsp;</a>
            {% endfor %}
        </p>
    </div>

    <div class="line_2" style="margin:5px 0px 28px;"></div>

    <div class="block_comments" id="comment">
        <h2>{{ comment_list|length }} Comments</h2>
        {% for comment in comment_list %}
        <div class="comment">
            <div class="content">
                <p class="name">{{ comment.username }}</p>
                <p class="info"><span class="date">{{ comment.date_publish | date:'d-M-y H:i:s' }}</span><a href="#" class="control"></a></p>
                <p class="text">{{ comment.content }}</p>
            </div>
            <div class="clearboth"></div>
            <div class="line_3"></div>
            {% for children_comment in comment.children_comment %}
                <div class="comment">
                    <div class="content">
                        <p class="name">{{ children_comment.username }}</p>
                        <p class="info"><span class="date">{{ children_comment.date_publish | date:'d-M-y H:i:s' }}</span><a href="#" class="control">Reply</a></p>
                        <p class="text">{{ children_comment.content }}</p>
                    </div>
                    <div class="clearboth"></div>
                    <div class="line_3"></div>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="separator" style="height:30px;"></div>

    <div class="block_leave_reply">
        <h3>Leave a Reply</h3>
        <p class="text">Your email address will not be published. Required fields are marked <span>*</span></p>

        <form class="w_validation" action="{% url 'comment_post' %}" method="post"/>
        {% csrf_token %}
            <p>Name<span>*</span></p>
            <div class="field"><input type="text" class="req" name="author" {% if request.user.is_authenticated %} value="{{ request.user.username }}" {% endif %} required/></div>

            <p>E-mail<span>*</span></p>
            <div class="field"><input type="text" class="req" name="email" {% if request.user.is_authenticated %} value="{{ request.user.email }}" {% endif %} required/></div>

            <p>Comment<span>*</span></p></p>
            <div class="textarea"><textarea cols="1" rows="1" name="comment" required></textarea></div>

            <input type="hidden" name="article" value="{{ article.id }}"/>

            <input type="submit" class="general_button" value="Post comment" />
        </form>
    </div>

</div>
{% endblock %}
