{% extends 'blog_base.html' %}
{% block blog_left_content %}
<div class="main_content">
    <div class="block_breadcrumbs">
        <div class="text"><p>You are here:</p></div>

        <ul>
            <li><a href="/">Home</a></li>
            <li>About Us</li>
        </ul>
    </div>
    <div class="separator" style="height:30px;"></div>

    <h2>About Journal</h2>

    <p class="general_subtitle">Eestablished fact that a reader will be distracted by the readable content of a page when looking at its layout are many variations of passages have suffered alteration.</p>

    <div class="line_4" style="margin:0px 0px 18px;"></div>

    <p>Distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using making it look like readable.</p>
    <p>Many desktop publishing packages and web page editors now use as their default model text, and a search for lorem ipsum will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like</p>

    <div class="separator" style="height:11px;"></div>

    <div class="block_staff">
        <div class="title">
            <p><span class="left">&nbsp;</span>Staff of the journal<span class="right">&nbsp;</span></p>
        </div>

        <div class="one_third">
            <div class="person">
                <div class="photo"><a href="#"><img src="../static/images/ava_default_1.jpg" alt="" /></a></div>
                <div class="text">
                    <p class="position">Editor in chief:</p>
                    <p class="name"><a href="#">Roman Polyarush</a></p>
                </div>

                <div class="clearboth"></div>
            </div>

            <div class="person">
                <div class="photo"><a href="../templates_static/about_author.html"><img src="../templates_static/images/ava_default_1.jpg" alt="" /></a></div>
                <div class="text">
                    <p class="position">Art Director:</p>
                    <p class="name"><a href="../templates_static/about_author.html">Jason Kimber</a></p>
                </div>

                <div class="clearboth"></div>
            </div>
        </div>

        <div class="one_third">
            <div class="person">
                <div class="photo"><a href="../templates_static/about_author.html"><img src="../templates_static/images/ava_default_1.jpg" alt="" /></a></div>
                <div class="text">
                    <p class="position">Editor:</p>
                    <p class="name"><a href="../templates_static/about_author.html">Sara Patrick</a></p>
                </div>

                <div class="clearboth"></div>
            </div>

            <div class="person">
                <div class="photo"><a href="../templates_static/about_author.html"><img src="../templates_static/images/ava_default_1.jpg" alt="" /></a></div>
                <div class="text">
                    <p class="position">Editor:</p>
                    <p class="name"><a href="../templates_static/about_author.html">Karl Doe</a></p>
                </div>

                <div class="clearboth"></div>
            </div>
        </div>

        <div class="one_third last">
            <div class="person">
                <div class="photo"><a href="../templates_static/about_author.html"><img src="../templates_static/images/ava_default_1.jpg" alt="" /></a></div>
                <div class="text">
                    <p class="position">Newsmaker:</p>
                    <p class="name"><a href="../templates_static/about_author.html">Mark Hugo</a></p>
                </div>

                <div class="clearboth"></div>
            </div>

            <div class="person">
                <div class="photo"><a href="../templates_static/about_author.html"><img src="../templates_static/images/ava_default_1.jpg" alt="" /></a></div>
                <div class="text">
                    <p class="position">Designer:</p>
                    <p class="name"><a href="../templates_static/about_author.html">Jessica Baja</a></p>
                </div>

                <div class="clearboth"></div>
            </div>
        </div>

        <div class="clearboth"></div>
    </div>

    <div class="line_3" style="margin:24px 0px 19px;"></div>

    <p>If you have any cooperation with the editors, please <a href="mailto:webvisionss@gmail.com" class="lnk_red" target="_blank">webvisionss@gmail.com</a>. For advertising please contact the advertising department Business Press - <a href="mailto:weblionmedia@gmail.com" class="lnk_red" target="_blank">weblionmedia@gmail.com</a></p>

    <div class="line_2" style="margin:5px 0px 0px;"></div>

</div>

{% endblock %}