{% extends 'blog_base.html' %}
{% block blog_left_content %}
<div class="main_content">
    <div class="block_breadcrumbs">
        <div class="text"><p>You are here:</p></div>

        <ul>
            <li><a href="">Home</a></li>
            <li>Blog Name</li>
        </ul>
    </div>
    <div class="separator" style="height:30px;"></div>

    <article class="block_single_post">
        <div class="f_pic"><a href="#"><img src="../static/images/pic_blog_post_1.jpg" alt="" /></a></div>
      <p class="title"><a href="#">Words which don't look even slightly.</a></p>
        <p class="subtitle">Many variations of passages of available, but the majority have suffered alteration in some form. Humour, or randomised words which don't look even slightly believable.</p>

        <div class="info">
            <div class="date"><p>15 July, 2012</p></div>
            <div class="author"><p>By: <a href="#">John Doe</a></p></div>

            <div class="r_part">
                <div class="category"><p>category: <a href="#">BUSINESS</a></p></div>
                <a href="#" class="views">650</a>
                <a href="#" class="comments">25</a>
            </div>
        </div>

        <div class="content">
            <p>There are many variations of passages of available, but the majority have suffered alteration in some form, by injected humour, or <b>randomised words which</b> don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the generators on the Internet tend to repeat predefined <a href="#" class="lnk_blue"><b>chunks as necessary</b></a>, making this the first true generator on the Internet. It uses a dictionary of over words, combined with a handful of model sentence structures, to generate which looks reasonable.</p>
            <blockquote class="full">Going to use a passage you need to be sure there isn't anything embarrassing hidden in the middle of text. established fact that a reader will be distracted by the readable content.</blockquote>
            <p>Available, but the majority have suffered alteration.By injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. Established fact that a reader will be <a href="#" class="lnk_blue"><b>distracted by the readable</b></a> content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less.</p>

            <div class="separator" style="height:4px;"></div>
            <h6>Post image aligned to the left</h6>
            <div class="separator" style="height:4px;"></div>
            <a href="#" class="pic w_frame alignleft"><img src="../static/images/pic_blog_post_2.jpg" alt="" /></a>
            <p>There are many variations of passages of available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage <b>need to be sure there isn't anything</b> embarrassing.</p>
            <p>Hidden in the middle of text. All the generators on the Internet tend to repeat predefined <a href="#" class="lnk_blue"><b>chunks as necessary</b></a>, making this the.</p>
            <p>Available, but the majority have suffered alteration.By injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. Established fact that a reader will be distracted by the readable content of a page when looking at its layout. The <b>point of using Lorem Ipsum</b> is that it has a more-or-less.</p>
        </div>

        <div class="line_3" style="margin:4px 0px 23px;"></div>

    </article>

    <div class="block_post_tags">
        <p>Tags: <a href="#">business,</a><a href="#">stock market</a></p>
    </div>

    <div class="line_2" style="margin:5px 0px 28px;"></div>

    <div class="block_comments">
        <h2>4 Comments</h2>

        <div class="comment">
            <div class="userpic"><a href="#"><img src="../templates_static/images/ava_default_1.jpg" alt="" /></a></div>
            <div class="content">
                <p class="name"><a href="#">John Doe</a></p>
                <p class="info"><span class="date">Febr 16, 2012 at 4:43 pm</span><a href="#" class="control">Reply</a></p>
                <p class="text">Established fact that a reader will be distracted by the readable content of a page. When looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
            </div>
            <div class="clearboth"></div>
            <div class="line_3"></div>
        </div>

        <div class="comment">
            <div class="userpic"><a href="#"><img src="../templates_static/images/ava_default_1.jpg" alt="" /></a></div>
            <div class="content">
                <p class="name"><a href="#">Sara Gordon</a></p>
                <p class="info"><span class="date">Febr 16, 2012 at 4:43 pm</span><a href="#" class="control">Reply</a></p>
                <p class="text">Distracted by the readable content of a page. When looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed.</p>
            </div>
            <div class="clearboth"></div>
            <div class="line_3"></div>

            <div class="comment">
                <div class="userpic"><a href="#"><img src="../templates_static/images/ava_default_1.jpg" alt="" /></a></div>
                <div class="content">
                    <p class="name"><a href="#">Alan Foylee</a></p>
                    <p class="info"><span class="date">Febr 16, 2012 at 4:43 pm</span><a href="#" class="control">Reply</a></p>
                    <p class="text">Content of a page. When looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
                </div>
                <div class="clearboth"></div>
                <div class="line_3"></div>
            </div>
        </div>

        <div class="comment">
            <div class="userpic"><a href="#"><img src="../templates_static/images/ava_default_1.jpg" alt="" /></a></div>
            <div class="content">
                <p class="name"><a href="#">Matilda King</a></p>
                <p class="info"><span class="date">Febr 16, 2012 at 4:43 pm</span><a href="#" class="control">Reply</a></p>
                <p class="text">Established fact that a reader will be distracted by the readable content of a page. When looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
            </div>
            <div class="clearboth"></div>
            <div class="line_3"></div>
        </div>

    </div>

    <div class="separator" style="height:30px;"></div>

    <div class="block_leave_reply">
        <h3>Leave a Reply</h3>
        <p class="text">Your email address will not be published. Required fields are marked <span>*</span></p>

        <form class="w_validation" action="#" />
            <p>Name<span>*</span></p>
            <div class="field"><input type="text" class="req" /></div>

            <p>E-mail<span>*</span></p>
            <div class="field"><input type="text" class="req" /></div>

            <p>Comment</p>
            <div class="textarea"><textarea cols="1" rows="1"></textarea></div>

            <input type="submit" class="general_button" value="Post comment" />
        </form>
    </div>

</div>
{% endblock %}